@charset "UTF-8";


@font-face{
  font-family: Freeroad;
  src:url(Freeroadn.ttf);
}


.tripComponent {
    width: 100%; 
    margin: 5%;
    background-color: #f2f2f2; 
    padding: 10px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: fit-content;
}


.tripComponent h2 {
    color: #333; 
    font-size: 18px; 
    margin-bottom: 10px; 
    font-family: Freeroad;
}

.tripComponent p {
    color: #666; 
    font-size: 14px; 
    margin-bottom: 8px; 
    font-family: Freeroad;
}


.tripComponent .flights-list {
    margin-top: 10px; 
    font-family: Freeroad;
}

.tripComponent .flight-items li {
    list-style-type: none;  
    margin-bottom: 5px;  
    font-size: 14px;  
    color: black;
}

