@charset "UTF-8";


@font-face{
  font-family: Freeroad;
  src:url(Freeroadn.ttf);
}


.FlightComponent {
    width: 100%; 
    margin: 5%;
    background-color: #f2f2f2; 
    padding: 10px;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    height: fit-content;
}


.FlightComponent h2 {
    color: #333; 
    font-size: 22px; 
    margin-bottom: 10px; 
    font-family: Freeroad;
}

.FlightComponent p {
    color: #666; 
    font-size: 18px; 
    margin-bottom: 8px; 
    font-family: Freeroad;
    padding-right: 30%;
}

.PriceDisplay {
	color: black;
	float: right;
	font-size: 25px;
	margin-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	font-family: Freeroad;
}

button {
  background-color: rgb(0,84,180);
  color: white;
  width: 100px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 5px;   
  border: 1px solid ; 
}


 /* Dropdown Button */
.dropbtn {
  background: rgb(46, 52, 56);
  color: white;
  padding: 14px;
  font-size: 14px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dd {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 10%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}


.dropdown:hover .dropdown-content {display: block;}






